body {
    background-image: url(../../images/79168307-man-and-woman-workout-fitness-aerobic-and-exercises-vector-illustrations-.jpg);
}
h1 {
    text-align: center;
}
h2 {
    padding-left: 15px;
}
.login-form {
    padding-left: 15px;
    align-content: center;
}